

.container-question{
   
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
fieldset{
    border-radius: 18px;
    border-color: #4bb3fd;
}
.timer{
    border-radius: 50%;
    background-color: brown;
    flex-basis: 100px;
    text-align: center;
    vertical-align: middle;         
    display: inline-block;    
    width:200px;
    height: 200px;
    
}
.timer > h3{
    text-align: center;
    font-size: 66px;
    color: #fbfffe;
}
.slideshow-container{
    flex-grow: 2;
    flex-shrink: 1;
}
.time-and-progress{
    flex-grow: 1;
    flex-shrink: 2;
    margin-left: 20px;
}
.text-timer > h4{
    text-align: left;
    margin-left: 4%;
    font-size: 24px;
}
.progress{
    margin-left: 4%;
}
.icons-buttons{
    text-align: center;
    margin-top: 8%;
}
.icons > i{
    color: #4bb3fd;
    margin-right: 10%;
    cursor: pointer;
}

/* Hide image by default */
.slides{
    display: none;
}

/* fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .buttons{
    margin: 8px auto;
    margin-right: 8%;
    padding-top: 2%; 
  }

  .btn{
     color: white; 
     border: none;
     padding: 16px 32px;
     background: transparent;
     border: 2px solid #0099cc;
     border-radius: 6px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     transition-duration: 0.4s;
     cursor: pointer;
     text-decoration: none;
     text-transform: uppercase;
  }
  .btn-bg-white{
      background-color: white;
      color: black;
      border: 2px solid #008cba;
  }
  .btn-bg-white:hover{
      background-color: #008cba;
      color:white;
  }